@font-face {
    font-family: GothamLight;
    src: url('../assets/fonts/GothamLight.ttf');
}

@font-face {
    font-family: GothamBold;
    src: url('../assets/fonts/GothamBold.otf');
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow-y: hidden;
    background-color: #1f1d1d0a;
    background-image: url('../assets/img/background.png');
    background-repeat: repeat-x;
    background-position: bottom;
}

section {
    text-align: center;
    height: 100%;
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
}

img {
    width: 30%;
}

.results {
    font-family: GothamLight;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.5rem;
    color: #ff5863;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.links a button {
    margin: 0 20px;
    background-color: #ffa334;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 250px;
    font-family: GothamBold;
    font-size: 1.2rem;
    color: #3c389e;
    transition: all 0.5s ease-in-out;
    text-align: center;
    cursor: pointer;
}

.links a button:hover {
    background-color: #3c389e;
    color: #ffa334;

}


@media only screen and (max-width: 1136px) {

    img {
        width: 50%;
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 300px;
        height: 280px;
        margin: auto;
        background-color: #f6f6f6;
        border-radius: 20px;
    }

    .links a button {
        margin: 10px;
    }

    body {
        margin-top: 0;
    }
}